@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");

    font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.main-container {
  flex-grow: 1;
}

.logoSedona {
  margin-right: auto;
  width: 138px;
}

.navigation {
  display: flex;
  align-items: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 570px;
  list-style-type: none;
  display: flex;
}

.navigation-icon-list {
  margin-left: auto;
  max-width: 300px;
  list-style-type: none;
  display: flex;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 34px;
  display: inline-block;
  margin-right: 70px;
  margin-left: 20px;
}

.big-button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 96px;
}

.preview {
  background-image: url("../images/main-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 67px;
  margin-bottom: 23px;
}

.description-part {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 67px;
}

.description-part-part {
  margin-bottom: 54px;
}

.first-section {
  margin-bottom: 21px;
}


.advantages-title-white {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}

.advantages-description-white {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.advantages-item-wrapper {
  margin: auto;
  width: 230px;
}

.advantages-item-block {
  margin: auto;
  width: 230px;
  margin-top: 112px;
}

.advantages-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.warapper {
  width: 230px;
  margin: auto;
  margin-top: 183px;
}

.very-light-blue {
  background-color: #83B3D31F;
}

.light-blue {
  background-color: #83B3D333;
}

.advantages-description-black {
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.advantages-title-black {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
}

.advantages-title-black-black {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item-picture {
  width: 1200px;
  background-color: #82B3D3;
}

.home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;
}

.food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;
}

.present {
  background-image: url(../images/present.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;
}


.description-two {
  margin-top: 96px;
  margin-bottom: 20px;
}

.description-white {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.description-white-white {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 20px;
}

.description-part-white {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.newsletter {
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 415px;
}

.newsletter-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  margin-bottom: 104px;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 142px;
  background-color:#000000;
  display: flex;
}


.vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
}

.tg {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
}

.you-tube {
  background-image: url(../images/you-tube.svg);
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}


.catalog-filter-title {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-group {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.button-blue {
  background-color: #7DB54F;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-green {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-reset {
  background-color: rgba(28,28,28,0);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card:last-child {
  margin-bottom: 70px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.price-wraper {
  display: flex;
  margin-bottom: 16px;
}

.price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 140px;
  margin-left: auto;
}

.points {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;

}

.points {
  display: flex;
  justify-content: end;
}

.title-hotel {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.information {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  text-align: center;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #82B3D3;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 23px;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-empty {
  background-color: #FFFFFF;
  color: #000000;
}

.ten {
  padding-right: 18px;
  padding-left: 18px;
}

.hotel {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.button-blue-blue {
  background-color: #82B3D3;
  font-size: 16px;
}

.button-small {
  padding: 8px 26px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 16px;
}

.button-small-small {
  padding: 8px 20px;
  margin: 0;
  margin-bottom: 16px;
}


.button-green-green {
  background-color: #7DB54F;
  padding: 8px 18px;
  margin-bottom: 16px;
}

.main {
    background-image: url(../images/catalog-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.inner-header-title {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 8px;
  margin-left: 70px;
}

.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 70px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.title {
  padding: 0;
  margin: 0;
  margin-top: 56px;
  margin-left: 70px;
  margin-bottom: 46px;
  margin-right: 200px;
}

.title-control {
  display: flex;
  align-items: center;
}

.small-breadcrumbs {
  color: #FFFFFF;
}

.product-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 70px;
}

.preview-logo {
  display: block;
  margin: 0 auto;
}

.advantages-list-list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.social {
  width: 48px;
  height: 40px;
  display: block;
  background-color: #000000;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
}


.catalog-products {
  display: flex;
}

.catalog-filter {
  display: flex;
}

.product-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.product-card {
  width: 340px;
  max-height: 438px;
  padding: 20px;
}

.product-card-image {
margin-bottom: 16px;
}

.button-wraper {
  display: flex;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px ;
  margin-left: 70px;
}

.information-wraper {
width: 685px;
margin: 0 auto;
text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px #00000033;
}

.advantages-item-picture {
  display: flex;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 30px;
}

.description-black {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
}


.big-button-big {
  display: inline-block;
  text-align: center;
}
