@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");

    font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
}

.preview {
  background-image: url("../images/main-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description-part {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}


.advantages-title-white {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description-white {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.very-light-blue {
  background-color: #83B3D31F;
  width: 400px;
}

.light-blue {
  background-color: #83B3D333;
  width: 400px;
}

.white-block {
  width: 400px;
}

.advantages-description-black {
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

.advantages-title-black {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item-picture {
  width: 1200px;
  background-color: #82B3D3;
}

.home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
}

.description-white {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.description-part-white {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.newsletter {
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 415px;
}

.newsletter-button {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.vk {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;
}

.tg {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
}

.you-tube {
  background-image: url(../images/you-tube.svg);
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  color: #333333;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.catalog-products {
  background-image: url(../images/catalog-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-group {
  color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.button-blue {
  background-color: #7DB54F;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-green {
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.button-reset {
  background-color: rgba(28,28,28,0);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

h2 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-card-title {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: left;
}

b {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.points {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

h3 {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.information {
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  text-align: center;
}
